.banner{
    color:#ffffff;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: auto;
}
.Movie-poster{
    height: 500px;
    width: auto;
    background-color: #0c553a;
    border-radius: 5px;
    padding: 10px;

}

.Movie-info{

    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    width: auto;
    display: flex;
    flex-direction: column;
}
.Movie-info-2nd{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: transparent;
    height: auto;
}
.Movie-title{
    margin-bottom: 20px;
    color:white;
    display: flex;
}
.Overview{
    margin-left: 10px;
    font-size: large;
    margin-bottom: 20px;
    color:#ffffff;
}

.Popularity small,
.Vote-Average small,
.Release-date small{
    color: #a8a8a8;
    margin-right: 10px;
}

.Popularity ,
.Vote-Average,
.Release-date{
    margin-left: 10px;
    margin-bottom: 10px;
}
.video-preview-container{
    margin-top: 50px;
    /* background-color: #ffffff; */
    padding: 20px;
}
.videos-grid{
    /* background-color: #0c553a; */
    padding: 10px;
}
.video-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(0, 255, 115); */
    padding: 10px;
    width: auto;
    height: auto;
}
.Trailer-title{
    margin-top: 15px;
    color: white;
    font-size: large;

}
.Trailer-title{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Movie-poster-display{
    height: 33rem;
    width: auto;
}

.Movie-video-trailer{
    border-radius: 10px;
}
.Movie-combined-display-main{
    gap: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
}